.itemRef {
    padding: 15px;
    font-weight: bold;
}

.topRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-start;
}

.topRow button {
    margin-top: 0;
}

.title {
    margin-bottom: 3rem;
    margin-top: 4rem;
    text-align: start;
    width: 100%;
}

.stockAlert {
    font-size: smaller;
    padding-top: 5px;
    text-align: center;
}

.stockAlert svg {
    vertical-align: middle;
}

.image {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #eeedf0;
}

.image img {
    position: absolute;
    bottom: 0;
    display: block;
    max-height: 90%;
    margin: auto;
    max-width: 90%;
    top: 0;
    left: 0;
    right: 0;
}

.deleteButton {
    outline: none;
    background: transparent;
    border: none;
}

.productDesignation {
    color: black;
    font-size: 13px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.ref {
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
}

.deleteButton {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #9d9d9c;
}

.client{
    border: solid 1px #f6f6f6;
    padding: 25px;
    border-radius: 0.3125rem;
    background-color: #f6f6f6;
}

.clientInfos{
    padding-bottom: 15px;
    padding-top: 15px;
}


.listWrapper,
.productWrapper {
    padding: 20px;
}

.displayNone {
    display: none;
}

.price {
    font-weight: normal;
}

.addWishlistIcon svg {
    z-index: 100;
}

.contactDiv svg,
.goBack svg {
    vertical-align: middle;
}

.cartTableHeader {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    padding: 20px 0;
    text-align: center;
}

.cartTableRow {
    padding: 20px 0;
    text-align: center;
}

.total {
    text-align: center;
}

.cartTotalContainer {
    padding: 20px 0;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    font-weight: bold;
}

.totalNote {
    font-style: italic;
    font-size: smaller;
    margin-top: 3rem;
}

.goBack {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.goBack svg {
    vertical-align: middle;
}
.bottomButtonsRight{
    width: 100%;
    text-align: end;
}

.bottomButtonsRight{
    width: 100%;
    text-align: end;
}

@media screen and (max-width: 992px) {
    .image {
        display: block;
        position: relative;
        width: 70px;
        height: 70px;
        background-color: #eeedf0;
    }

    .productDesignation {
        font-size: smaller;
    }

    .ref {
        font-size: medium;
    }

    .cartTableRow {
        font-size: small;
    }

    .cartTableRow svg {
        font-size: small;
    }
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
    .image {
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        background-color: #eeedf0;
    }
}
